spring:
    application:
      name: enrollment-service
    datasource:
      url: jdbc:mysql://127.0.0.1:3306/learning_platform?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      username: root
      password: root
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          use_sql_comments: true
      database-platform: org.hibernate.dialect.MySQLDialect


    kafka:
      bootstrap-servers: localhost:9092
      producer:
        key-serializer: org.apache.kafka.common.serialization.StringSerializer
        value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      consumer:
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
        group-id: enrollment-service-group
        auto-offset-reset: earliest


server:
  port: 8083
  servlet:
    context-path: /enrollment-service


app:
  services:
    content:
      url: http://localhost:8084/content-service
    user:
      url: http://localhost:8888/api/user-service
    course:
      url: http://localhost:8888/api/course-service
feign:
  client:
    config:
      default:
        requestInterceptors:
          - com.learning.enrollment_service.client.FeignAuthInterceptor;


logging:
  level:
    org.springframework.web.cors: DEBUG
    org.springframework.security: DEBUG