spring:
  application:
    name: notification-service
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/learning_platform?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 8085

  servlet:
    context-path: /notification-service